* {
    box-sizing: border-box;
}

.menu{
    align-items: center;
}

.container{
    width: 1170px;

}

.menu_inner {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav:hover {
    cursor: pointer;

}

li {
    padding-right: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}

li:hover{
    color: grey;
}

.ikona{
    align-items: center;
}

i.fa {
    font-size: 25px;
    color: black;
    padding-left: 10px;
}

.fa:hover{
    cursor: pointer;
    color: grey;
}


.head {
    display: flex;
    align-items: center;
}
.category {

}

.category_name{
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 50px;
    margin-top: 20px ;
}

.category_name:hover{
    cursor: pointer;
}

.category_info {
    padding-right: 15px;
    margin-top: 20px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.category_sum {
    font-size: 30px;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.news {
    
}

.had {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.nav2{
    display: flex;
    list-style: none;
}

.m2:hover {
    color: grey;
    cursor: pointer;
}


.content {

}

.grid {

}

.grid__body {
    display: grid;
    grid-template:repeat(2, 1fr) / repeat(3, 1fr);
}

.grid__item {
    border: 2px dashed grey;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    height: 150px;
    width: 150px;
}


