* {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}


.menu {
    background-color: rgb(0,212,242);
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
}



.menu_ineer {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

}

.photo {
    padding: 0px 500px 0px 0px;
}

img {
    height: 50px;
}


ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

li a {
    padding: 10px;
    text-decoration: none;
    color: black;
}
 
ul li a:hover {
    border-radius: 50px;
    background-color: #fff;
}




.categories {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.categories_ineer {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.ramka {
    border: 5px solid black;
    padding: 10px 5px;
    text-align: center;
}

p a {
    text-decoration: none;
    font-size: medium;
}

p a:hover{
    color: blue;
}





.lenta {
    margin: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lenta_ruletka {

    

}
.blok {

    
}
.photo_1 {
    margin: 20px;    
    text-align: center;
}
.text {
    text-transform: uppercase;
    background-color: ;
}


.photo_1 img {
    height: 300px;
}

