* {
    box-sizing: border-box;
}

.container{
    width: 1170px;

}

.menu_inner {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav:hover {
    cursor: pointer;

}

li {
    padding-right: 25px;
}

li:hover{
    color: grey;
}

i.fa {
    font-size: 25px;
    color: black;
    padding-left: 20px;
}

.fa:hover{
    cursor: pointer;
    color: grey;
}


.head {
    display: flex;
    align-items: center;
}
.category {

}

.category_name{
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 50px;
    margin-top: 20px ;
}

.category_name:hover{
    cursor: pointer;
}

.category_info {
    padding-right: 15px;
    margin-top: 20px ;
}

.category_sum {
    font-size: 30px;
    margin-top: 20px ;
}

.news {
    
}

.had {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.nav2{
    display: flex;
    list-style: none;
}

.m2:hover {
    color: grey;
    cursor: pointer;
}


.content {

}
.grid {

}
.grid_body {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid_item {
    text-align: center;
    border: 2px dashed grey;
    padding: 30px;
}

.grid_item 
